<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Maintenance</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <%- include("sidebar2.ejs") %>
</head>
<body>
    <h1 class="content text-center">Project Maintenance</h1>
    
    <form action="/newproject" method="post" class="content" id="myForm">
        <div class="row justify-content-md-center">
          <div class="form-group col-md-3">
            <label for="inputProjectNumber">Project Number</label>
            <input type="text" class="form-control" id="inputProjectNumber" name="projectNumber" required>
          </div>
          <div class="form-group col-md-3">
            <label for="inputDirNumber">DIR Number</label>
            <input type="text" class="form-control" id="inputDirNumber"  name="dirNumber">
          </div>
        </div>

        <div class="row justify-content-md-center">
          <div class="form-group col-md-3">
            <label for="inputProjectManager">Project Manager</label>
            <input type="text" class="form-control" id="inputProjectManager" name="projectManager">
          </div>
          <div class="form-group col-md-3">
            <label for="inputProjectContract">Contract/PO</label>
            <input type="text" class="form-control" id="inputProjectContract" name="projectContract">
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="form-group col-md-3">
            <label for="inputProjectCustomer">Customer</label>
            <select class="form-control" id="inputProjectCustomer" name="projectCustomer" required>
              <option value="" selected>Select a Customer</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="inputProjectSubcontractor">Assign Sub</label>
            <select class="form-control" id="inputProjectSubcontractor" name="projectSubcontractor">
              <option value="" selected>Assign a Sub</option>
            </select>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="form-group col-md-6">
            <label for="inputProjectName">Project Name</label>
            <input type="text" class="form-control" id="inputProjectName" name="projectName">
          </div>
        </div>

        <div class="row justify-content-md-center">
          <div class="form-group col-md-6">
            <label for="inputProjectAddress">Project Address</label>
            <input type="text" class="form-control" id="inputProjectAddress" name="projectAddress">
          </div>
        </div>

        <div class="row justify-content-md-center">
          <div class="form-group col-md-2">
            <label for="inputSubCity">Project City</label>
            <input type="text" class="form-control" id="inputProjectCity" name="projectCity">
          </div>
          <div class="form-group col-md-2">
            <label for="inputProjectState">State</label>
            <select id="inputState" class="form-control" name="projectState">
              <option selected>Choose...</option>
              <option value="AL">Alabama</option>
              <option value="AK">Alaska</option>
              <option value="AZ">Arizona</option>
              <option value="AR">Arkansas</option>
              <option value="CA" selected>California</option>
              <option value="CO">Colorado</option>
              <option value="CT">Connecticut</option>
              <option value="DE">Delaware</option>
              <option value="DC">District of Columbia</option>
              <option value="FL">Florida</option>
              <option value="GA">Georgia</option>
              <option value="HI">Hawaii</option>
              <option value="ID">Idaho</option>
              <option value="IL">Illinois</option>
              <option value="IN">Indiana</option>
              <option value="IA">Iowa</option>
              <option value="KS">Kansas</option>
              <option value="KY">Kentucky</option>
              <option value="LA">Louisiana</option>
              <option value="ME">Maine</option>
              <option value="MD">Maryland</option>
              <option value="MA">Massachusetts</option>
              <option value="MI">Michigan</option>
              <option value="MN">Minnesota</option>
              <option value="MS">Mississippi</option>
              <option value="MO">Missouri</option>
              <option value="MT">Montana</option>
              <option value="NE">Nebraska</option>
              <option value="NV">Nevada</option>
              <option value="NH">New Hampshire</option>
              <option value="NJ">New Jersey</option>
              <option value="NM">New Mexico</option>
              <option value="NY">New York</option>
              <option value="NC">North Carolina</option>
              <option value="ND">North Dakota</option>
              <option value="OH">Ohio</option>
              <option value="OK">Oklahoma</option>
              <option value="OR">Oregon</option>
              <option value="PA">Pennsylvania</option>
              <option value="RI">Rhode Island</option>
              <option value="SC">South Carolina</option>
              <option value="SD">South Dakota</option>
              <option value="TN">Tennessee</option>
              <option value="TX">Texas</option>
              <option value="UT">Utah</option>
              <option value="VT">Vermont</option>
              <option value="VA">Virginia</option>
              <option value="WA">Washington</option>
              <option value="WV">West Virginia</option>
              <option value="WI">Wisconsin</option>
              <option value="WY">Wyoming</option>
              <option value="AS">American Samoa</option>
              <option value="GU">Guam</option>
              <option value="MP">Northern Mariana Islands</option>
              <option value="PR">Puerto Rico</option>
              <option value="UM">United States Minor Outlying Islands</option>
              <option value="VI">Virgin Islands</option>
              <option value="NA">Not a US City</option>
            </select>
          </div>
          <div class="form-group col-md-2 mb-3">
            <label for="inputProjectZip">Zip</label>
            <input type="text" class="form-control" id="inputProjectZip" name="projectZip">
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="form-group col-md-2">
            <label for="inputProjectTracking">Tracking</label>
            <select class="form-control" id="inputProjectTracking" name="projectTracking">
              <option value="" selected>Select an Option</option>
              <option value="DIR Only">DIR Only</option>
              <option value="DIR & LCP">DIR & LCP</option>
              <option value="DIR & NXL Dropbox">DIR & NXL Dropbox</option>
              <option value="DIR, LCP, & NXL Dropbox">DIR, LCP, & NXL Dropbox</option>
              <option value="NXL Dropbox Only">NXL Dropbox Only</option>
            </select>
          </div>
          <div class="form-group col-md-2 mb-3">
            <label for="inputProjectPortal">LCP Portal</label>
            <select class="form-control" id="inputProjectPortal" name="projectPortal">
              <option value="" selected>Select an Option</option>
              <option value="Align Builders Inc.">Align Builders Inc.</option>
              <option value="Balfour Beatty Construction">Balfour Beatty Construction</option>
              <option value="Barnhart-Reese Construction, Inc.">Barnhart-Reese Construction, Inc.</option>
              <option value="Bernards">Bernards</option>
              <option value="BNBuilders, Inc.">BNBuilders, Inc.</option>
              <option value="Bycor General Contractors">Bycor General Contractors</option>
              <option value="Calleguas Municipal Water District">Calleguas Municipal Water District</option>
              <option value="CW Driver LLC">CW Driver LLC</option>
              <option value="DPR Construction">DPR Construction</option>
              <option value="Engie Services">Engie Services</option>
              <option value="Erickson-Hall Construction">Erickson-Hall Construction</option>
              <option value="First Mark Contracting, Inc.">First Mark Contracting, Inc.</option>
              <option value="KYA Services LLC">KYA Services LLC</option>
              <option value="Los Angeles Community College District">Los Angeles Community College District</option>
              <option value="Los Angeles County">Los Angeles County</option>
              <option value="Los Angeles County Joint">Los Angeles County Joint</option>
              <option value="Los Angeles County Metro">Los Angeles County Metro</option>
              <option value="McCarthy Building Companies, Inc.">McCarthy Building Companies, Inc.</option>
              <option value="Neff Construction">Neff Construction</option>
              <option value="PCL - California Buildings">PCL - California Buildings</option>
              <option value="Plumbing, Piping & Construction, Inc.">Plumbing, Piping & Construction, Inc.</option>
              <option value="Public Works Consultant, Inc.">Public Works Consultant, Inc.</option>
              <option value="Riverside Unified School District">Riverside Unified School District</option>
              <option value="Swinerton Builders">Swinerton Builders</option>
              <option value="University of California Los Angeles">University of California Los Angeles</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputProjectWageDet">Wage Determination</label>
            <select class="form-control" id="inputProjectWageDet" name="projectWageDet">
              <option value="">Select an Option</option>
            </select>
        </div>
        </div>

        <div class="row justify-content-center">
          <div class="form-group col-md-2">
              <label for="inputProjectDasDate">DAS File Date</label>
              <input type="date" id="inputProjectDasDate" name="dasFileDate" class="form-control">
          </div>
          <div class="form-group col-md-2">
              <label for="inputProjectDasOnsiteDate">DAS First Onsite Date</label>
              <input type="date" id="inputProjectDasOnsiteDate" name="dasOnsiteDate" class="form-control">
          </div>
          <div class="form-group col-md-2">
              <label for="inputProjectActualOnsiteDate">Actual First Onsite Date</label>
              <input type="date" id="inputProjectActualOnsiteDate" name="actualOnsiteDate" class="form-control">
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="form-group col-md-6">
          <label for="inputProjectCPRStatus">CPR Status</label>
          <select class="form-control" id="inputProjectCPRStatus" name="projectCPRStatus">
              <option value="">Select an Option</option>
              <option>Open</option>
              <option>In Progress</option>
              <option>Final</option>
          </select>
          </div>
      </div>
      <div class="row justify-content-md-center">
          <div class="form-group col-md-6 mb-3">
            <label for="inputProjectNotes">Notes</label>
            <textarea class="form-control" id="inputProjectNotes" name="projectNotes"></textarea>
          </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-md-1">
          <button type="submit" class="btn btn-primary mb-4">Submit</button>
        </div>
      </div>
      <div id="errorMessage" class="alert alert-danger" style="display:none; color: red;"></div>
    </form>


<script>
  async function populateCustomerDropdown() {
    try {
      const response = await fetch('/api/customers');
      if (!response.ok) throw new Error('Failed to fetch customers');
      const customers = await response.json();
      
      const selectElement = document.getElementById('inputProjectCustomer');
      customers.forEach(customer => {
        const option = document.createElement('option');
        option.value = customer.customername; 
        option.textContent = customer.customername;
        selectElement.appendChild(option);
      });
    } catch (error) {
      console.error('Error populating customer dropdown:', error);
    }
 }

  async function populateSubDropdown() {
    try {
      const response = await fetch('/api/sub');
      if (!response.ok) throw new Error('Failed to fetch subs');
      const subcontractors = await response.json();
      
      const selectElement = document.getElementById('inputProjectSubcontractor');
      subcontractors.forEach(sub => {
        const option = document.createElement('option');
        option.value = sub.subname; 
        option.textContent = sub.subname;
        selectElement.appendChild(option);
      });
    } catch (error) {
      console.error('Error populating sub dropdown:', error);
    }
 }

  async function populateWageDetDropdown() {
    try {
        const response = await fetch('/api/wagedetermination');
        if (!response.ok) throw new Error('Failed to fetch wage determination');
        
        const wageDetList = await response.json(); 
        const selectElement = document.getElementById('inputProjectWageDet')

        wageDetList.forEach(determ => { 
            const option = document.createElement('option');
            option.value = determ.determination; 
            option.textContent = determ.determination;
            selectElement.appendChild(option);
        });

    } catch (error) {
        console.error('Error populating wage determination dropdown:', error);
    }
}

document.addEventListener('DOMContentLoaded', function() {
        populateCustomerDropdown(); 
        populateWageDetDropdown();
        populateSubDropdown();
});
  document.getElementById('myForm').addEventListener('submit', async function(event) {
    event.preventDefault();

    const formData = new FormData(event.target);
    const data = Object.fromEntries(formData.entries());

    if (!data.projectNumber || !data.projectName || !data.projectAddress || !data.projectCity || !data.projectState ||
        !data.projectZip) {
        document.getElementById('errorMessage').textContent = 'All fields are required.';
        document.getElementById('errorMessage').style.display = 'block';
        return;
    }

    try {
        const response = await fetch('/newproject', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        });
        if (response.ok) {
            window.location.href = '/projects'; 
        } else {
            const errorData = await response.json();
            document.getElementById('errorMessage').textContent = errorData.error;
            document.getElementById('errorMessage').style.display = 'block';
        }
    } catch (error) {
        document.getElementById('errorMessage').textContent = 'An unexpected error occurred. Please try again later.';
        document.getElementById('errorMessage').style.display = 'block';
    }
});
</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>